<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hostro — Hosting HTML Template</title>
    <meta name="description" content="Hostro is a multi page oriented template designed for Cloud and Hosting Services. It is based on bootstrap using 1170 grid system, full responsive and W3C html validated.">
    <meta name="keywords" content="cloud, hosting, pricing tables, bootstrap, html, mobile responsive, hosting services, servers, shared, vps">
    <meta name="author" content="Sempy Themes">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap 
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/jasny-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.2.0/css/font-awesome.css">

	<!-- Animate 
    ================================================== -->
	<link href='css/effect2.css' rel='stylesheet' type='text/css'>
	<link href='css/animate.css' rel='stylesheet' type='text/css'>
	
	<!-- Add fancyBox CSS files -->
	<link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
	
	<!-- Owl Slider CSS -->
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/owl.theme.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/owl.transitions.css" media="screen" />
	
    <!-- Custom Css 
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="css/rs-wp-v1.2.css">
    <link rel="stylesheet" type="text/css" href="css/countrySelect.css">
	<link rel="stylesheet" type="text/css" href="fonts/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <!-- Google Fonts 
    ================================================== -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	
	<!-- Side Menu -->
	<section class="rst-sidemenu">
		<a href="#" class="btn btn-primary btn-sm rst-sidemenu-signup">Sign up</a>
		<a href="#" class="rst-sidemenu-close"><img src="images/icon/login-close.png" alt="" /></a>
		<nav class="rst-topmenu">	
			<ul>
				<li><a href="index.html">home</a></li>
				<li><a href="about.html">about</a></li>
				<li><a href="pricing.html">pricing</a></li>
				<li><a href="contact.html">contact</a></li>
			</ul>
		</nav>
		<nav class="rst-bottommenu">	
			<ul>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="support.html">Support</a></li>
			</ul>
		</nav>
	</section>
	<!-- End Side Menu -->
  
	<!--- Wrapper -->
	<section class="wrapper">
	
		<!--- Header -->
		<header>
			<div class="rst-header-menu">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<nav class="rst-header-menu">
								<a href="index.html"><img src="images/header-logo.png" alt="" /></a>
								<ul class="rst-login">
									<li><a class="rst-loginbtn" href="#">log in</a></li>
									<li><a class="rst-menubtn" href="#"><img src="images/icon/menu-mobile.png" alt="" /></a></li>
								</ul>
								<ul>
									<li><a href="index.html">home</a></li>
									<li class="current-menu-item"><a href="about.html">about</a></li>
									<li><a href="pricing.html">pricing</a></li>
									<li><a href="contact.html">contact</a></li>
									<li>
										<a href="#">page</a>
										<ul>
											<li><a href="shortcodes.html">Shortcodes</a></li>
											<li><a href="account.html">Account</a></li>
											<li><a href="register.html">Register</a></li>
											<li><a href="blog.html">Blog</a></li>
											<li><a href="support.html">Support</a></li>
											<li><a href="coming.html">Coming</a></li>
											<li><a href="404.html">404</a></li>
										</ul>
									</li>
								</ul>
								<div class="clear"></div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- end header menu -->
			
			<div class="rst-header-banner rst-account-banner">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h3>About</h3>
							<p>Curabitur ultricies elementum mauris eu dapibus dui aliquet et mauris euismod <br /> neque a molestie sem fringilla non</p>
							<a class="rst-scolldown" href="#"><i class="fa fa-angle-down"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- end header banner -->
			
			<!-- Hidden Log in form -->
			<div class="rst-floatlogin">
				<div class="rst-floatlogin-content">
					<a href="#"><img src="images/icon/login-close.png" alt="" /></a>
					<form action="/">
						<h4 class="rst-page-title">Login</h4>
						<p><a href="#">Signup</a> for free one mount trial</p>
						<input class="rst-page-input" type="text" placeholder="Artem"/>
						<input class="rst-page-input" type="password" placeholder="Password"/>
						<input type="submit" class="btn btn-primary" value="LOGIN"/>
					</form>
				</div>
			</div>	
			<!-- End Log in form -->
			
			<!-- Hidden menu -->
			
			<!-- End Hidden menu -->
		</header>
		<!--- End Header -->
		
		<!--- Content -->
		<div id="contact-content">
			<section id="rst-searchdomain">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="rst-searchdomain">
								<form action="/">
									<input type="text" class="rst-page-input" placeholder="Enter your domain name and hit enter" />
									<select name="domainselect" id="domainselect">
										<option value=".com" selected="selected">.com</option>
										<option value=".vn">.vn</option>
										<option value=".com.vn">.us</option>
									</select>
									<input type="submit" value="SEARCH"/>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<!-- About tabs -->
			<section id="rst-abouttabs">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="rst-group-title">
								<h4 class="">Who I Are?</h4>
								<p>Duis egestas nibh at ex ornare efficitur fusce ullamcorper turpis eu lectus</p>
							</div>
							
							
							<!-- About tabs -->
							<div role="tabpanel" class="rst-tabs2 rst-about-tabs">

								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
										<a href="#tabs1-1" role="tab" data-toggle="tab"><i class="fa fa-cloud-upload"></i>Updates</a>
									</li>
									<li role="presentation">
										<a href="#tabs1-2" role="tab" data-toggle="tab"><i class="fa fa-bar-chart"></i>Story</a>
									</li>
									<li role="presentation">
										<a href="#tabs1-3" role="tab" data-toggle="tab"><i class="fa fa-camera"></i>Gallery</a>
									</li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="tabs1-1">
										<div class="rst-tabinfo">
											<img src="images/iphone.png" alt="" />
											<h5>Donec viverra, magna in tempor lacinia elit ante viverra metus</h5>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut pulvinar dui et risus pulvinar id blandit lectus consectetur sed et lacinia est, nec dignissim.</p>
											<ul>
												<li><p>1GB hard drive</p></li>
												<li><p>24/7 professional support</p></li>
												<li><p>Month <span>FREE</span> trial</p></li>
												<li><p>Flexible panel</p></li>
												<li><p><span>Free</span> domain name</p></li>
												<li><p>Month <span>FREE</span> trial</p></li>
											</ul>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="tabs1-2">
										<div class="rst-tabinfo">
											<img src="images/iphone.png" alt="" />
											<h5>Pulvinar id blandit lectus consectetur sed</h5>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut pulvinar dui et risus pulvinar id blandit lectus consectetur sed et lacinia est, nec dignissim.</p>
											<ul>
												<li><p>1GB hard drive</p></li>
												<li><p>24/7 professional support</p></li>
												<li><p>Month <span>FREE</span> trial</p></li>
												<li><p>Flexible panel</p></li>
												<li><p><span>Free</span> domain name</p></li>
												<li><p>Month <span>FREE</span> trial</p></li>
											</ul>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="tabs1-3">
										<div class="rst-tabinfo">
											<img src="images/iphone.png" alt="" />
											<h5>Lorem ipsum dolor sit amet, lacinia elit ante viverra metus</h5>
											<p>Consectetur adipiscing elit ut pulvinar dui consectetur adipiscing elit ut pulvinar dui et risus pulvinar id blandit lectus consectetur sed et lacinia est, nec dignissim.</p>
											<ul>
												<li><p>1GB hard drive</p></li>
												<li><p>24/7 professional support</p></li>
												<li><p>Month <span>FREE</span> trial</p></li>
												<li><p>Flexible panel</p></li>
												<li><p><span>Free</span> domain name</p></li>
												<li><p>Month <span>FREE</span> trial</p></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- end tab panel -->
								
								<div class="clear"></div>
							</div>
							<!-- end tab role -->
						</div>
					</div>
				</div>
			</section>			
			<!-- End About tabs -->			
						
			<!-- Fun fact -->
			<section id="rst-funfacts">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<ul>
								<li>
									<img src="images/icon/user.png" alt="" />
									<p>Happy customers</p>
									<span>1,153</span>
								</li>
								<li>
									<img src="images/icon/glass.png" alt="" />
									<p>Awards winned</p>
									<span>25</span>
								</li>
								<li>
									<img src="images/icon/sun.png" alt="" />
									<p>Hours worked</p>
									<span>36</span>
								</li>
								<li>
									<img src="images/icon/browser.png" alt="" />
									<p>Complete projects</p>
									<span>95</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- End Fun fact -->
			
			<!-- What I Do -->
			<section id="rst-whatido">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="rst-group-title">
								<h4 class="">What I do?</h4>
								<p>Duis egestas nibh at ex ornare efficitur fusce ullamcorper turpis eu lectus</p>
							</div>
							<ul>
								<li>
									<img src="images/icon/wid1.png" alt="" />
									<p>
										<span>speed servers</span>
										Mauris vehicula felis vulputate velit semper, nec mollis nisi aliquam fusce consequat tellus eget mattis sagittis lacus lectus.
									</p>
								</li>
								<li>
									<img src="images/icon/wid2.png" alt="" />
									<p>
										<span>Hostro services</span>
										Mauris vehicula felis vulputate velit semper, nec mollis nisi aliquam fusce consequat tellus eget mattis sagittis lacus lectus.
									</p>
								</li>
								<li>
									<img src="images/icon/wid3.png" alt="" />
									<p>
										<span>Live support</span>
										Mauris vehicula felis vulputate velit semper, nec mollis nisi aliquam fusce consequat tellus eget mattis sagittis lacus lectus.
									</p>
								</li>
								<li>
									<img src="images/icon/wid4.png" alt="" />
									<p>
										<span>get domain name</span>
										Mauris vehicula felis vulputate velit semper, nec mollis nisi aliquam fusce consequat tellus eget mattis sagittis lacus lectus.
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- End What I Do -->
			
			<!-- Meet Team -->
			<section id="rst-meetteam" class="rst-group-color">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="rst-group-title">
								<h4 class="">Meet Team</h4>
								<p>Duis egestas nibh at ex ornare efficitur fusce ullamcorper turpis eu lectus</p>
							</div>
							<div class="rst-teamlist">
								<div class="rst-team">
									<div class="rst-teamimg">
										<img src="images/team1.jpg" alt="" />
										<div class="rst-teaminfo-hidden">
											<p>Donec vestibulum dolor vitae vulputate lobortis, erat eros volutpat est ornare</p>
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="rst-teaminfo">
										<p>
											Roberts doe
											<span>Hostro inc.</span>
										</p>
									</div>
								</div>
								<div class="rst-team">
									<div class="rst-teamimg">
										<img src="images/team2.jpg" alt="" />
										<div class="rst-teaminfo-hidden">
											<p>Donec vestibulum dolor vitae vulputate lobortis, erat eros volutpat est ornare</p>
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="rst-teaminfo">
										<p>
											Roberts doe
											<span>Hostro inc.</span>
										</p>
									</div>
								</div>
								<div class="rst-team">
									<div class="rst-teamimg">
										<img src="images/team3.jpg" alt="" />
										<div class="rst-teaminfo-hidden">
											<p>Donec vestibulum dolor vitae vulputate lobortis, erat eros volutpat est ornare</p>
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="rst-teaminfo">
										<p>
											Roberts doe
											<span>Hostro inc.</span>
										</p>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Meet Team -->
						
			<!-- Testimonial -->
			<section id="rst-testimonial">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div id="owl-testimonial" class="owl-carousel">
								<div>
									<div class="rst-tesimg">
										<img src="images/testimonial.jpg" alt="" />
									</div>
									<p>
										<img src="images/icon/quotes3.png" alt="" />
										Donec vehicula, ante ut tristique mollis, quam quam mollis ipsum finibus leo urna nec purus nullam non justo a enim tristique euismod id id velit ut facilisis sem est, id sollicitudin massa.
										<img src="images/icon/quotes4.png" alt="" />
									</p>
									<p class="rst-testname">Lisa doe, Hostro inc.</p>
								</div>
								<div>
									<div class="rst-tesimg">
										<img src="images/testimonial.jpg" alt="" />
									</div>
									<p>
										<img src="images/icon/quotes3.png" alt="" />
										Donec vehicula, ante ut tristique mollis, quam quam mollis ipsum finibus leo urna nec purus nullam non justo a enim tristique euismod id id velit ut facilisis sem est, id sollicitudin massa.
										<img src="images/icon/quotes4.png" alt="" />
									</p>
									<p class="rst-testname">Lisa doe, Hostro inc.</p>
								</div>
								<div>
									<div class="rst-tesimg">
										<img src="images/testimonial.jpg" alt="" />
									</div>
									<p>
										<img src="images/icon/quotes3.png" alt="" />
										Donec vehicula, ante ut tristique mollis, quam quam mollis ipsum finibus leo urna nec purus nullam non justo a enim tristique euismod id id velit ut facilisis sem est, id sollicitudin massa.
										<img src="images/icon/quotes4.png" alt="" />
									</p>
									<p class="rst-testname">Lisa doe, Hostro inc.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Testimonial -->
			
		</div>
		<!--- End Content -->
			
		<!--- Footer -->
		<footer>
			<div class="rst-footer-intro">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<p>Hosting use <span>500,000</span> happy customers. Want to see services?</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end intro -->
			
			<div class="rst-footer-menu">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<p>© 2015 Hostro. All right reserved.</p>
							<a class="rst-uptop" href="#"><i class="fa fa-angle-up"></i></a>
							<nav>
								<ul>
									<li><a href="about.html">About</a></li>
									<li><a href="pricing.html">Pricing</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="support.html">Support</a></li>
									<li><a href="#">Get Started</a></li>
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--- End Footer -->
		
	</section>
	<!--- End Wrapper -->
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
  
    <!-- Bootstrap Js Compiled Plugins -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	
	<!-- WoW Js -->
    <script type="text/javascript" src="js/wow.min.js"></script>
	
	<!-- Add Fancybox -->
	<script type="text/javascript" src="js/fancybox/jquery.fancybox.js?v=2.1.5"></script>
	<script type="text/javascript" src="js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
	
	<!-- Owl Slider Js -->
    <script type="text/javascript" src="js/owl.carousel.js"></script>
	
	<!-- Custom Google Maps js -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgGyzOzpWh_mTpdx-UPt92W6GI8hE7P3M"></script>
	
	<!-- Custom Js -->
	<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
	<script type="text/javascript" src="js/jquery.ddslick.min.js"></script>
	<script type="text/javascript" src="js/custom-form-elements.js"></script>
	<script type="text/javascript" src="js/countrySelect.js"></script>
	<script type="text/javascript" src="js/jquery.countdown.js"></script>
	<script type="text/javascript" src="js/circle-progress.js"></script>
	<script type="text/javascript" src="js/jquery.appear.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>